<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  <appSettings>
    <!--<add key="client" value="/user/BrotherEchoActor/*" />-->
  </appSettings>
  <akka>
    <hocon>
      <![CDATA[			
					    akka {  
						            actor {             
                                        serializers {
                                            wire = "Akka.Serialization.WireSerializer, Akka.Serialization.Wire"
                                              }  
                  
                                        serialization-bindings {
                                            "System.Object" = wire
                                              }
                 
							                 		provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster"
    
                                debug {  
                                    receive = on 
                                    autoreceive = on
                                    lifecycle = on
                                    event-stream = on
                                    unhandled = on
                                }
                           deployment {
                            /SisterEchoActor {
                                #remote = "akka.tcp://FamilyCluster@localhost:20000"
                                 router = round-robin-pool
                                 nr-of-instances = 1,
                                   cluster{
                                      enabled = on
                                      max-nr-of-instances-per-node = 1
                                       use-role=brother
                                   }
                            }
                        }
						          }
                    remote {
                     log-remote-lifecycle-events = DEBUG
                        helios.tcp {
		                    port = 10000
		                    hostname = localhost  
                        }
                    }
                   cluster {
							        seed-nodes = ["akka.tcp://FamilyCluster@127.0.0.1:4053"] 
							      roles = [sister]
						        }
                }
			]]>
    </hocon>
  </akka>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>